.selected-button
{
    -webkit-filter: invert(100%)!important;
    filter: invert(100%)!important;
}

.selected-tag
{
    -webkit-filter: invert(100%)!important;
    filter: invert(100%)!important;
    background-color: #0171BC!important;
    color: white!important;
}

.hidden
{
    display: none!important;
}

/* this allows for stuff like hiding the 'x' without hiding the border on the search bars
    note it is specifically for i elements inside of this class ebign the parent */
.invisibleIconContentsOnly i
{
    opacity: 0!important;
}

.invisibleIconContentsOnly
{
    cursor: default!important;
}

.clearSearchXButton
{
    background-color: white!important;
    border: 1px solid rgba(34,36,38,.15)!important;
    border-left-color: transparent!important;
}

.tagMargin
{
    margin-bottom: 10px!important;
}

.tagMargin .ui.button
{
    margin-bottom: 0px!important;
}

.hideAsterisk::after{
    display: none!important;
}